openapi: 3.0.1
info:
  title: core-lending-asset-finance
  description: Asset Finance Management System (Renting & Leasing)
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/asset-finance
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: DeliveryRecord
    description: Operations for Asset Delivery/Shipment Records
  - name: AssetFinanceAgreement
    description: Operations for Asset Finance Agreements (Leasing & Renting)
  - name: ServiceEvent
    description: Operations for Asset Service Events (Maintenance, Damage, etc.)
  - name: EndOption
    description: Operations for Lease-End Purchase Options
  - name: ReturnRecord
    description: Operations for Asset Return Records
  - name: UsageRecord
    description: Operations for Asset Usage Records (Mileage, Hours, etc.)
  - name: AssetFinanceAsset
    description: Operations for Asset Finance Assets
  - name: PickupRecord
    description: Operations for Asset Pickup/Collection Records
paths:
  /api/v1/asset-finance-agreements/{assetFinanceAgreementId}:
    get:
      tags:
        - AssetFinanceAgreement
      summary: Get an asset finance agreement by ID
      description: Retrieve a specific asset finance agreement by its unique identifier
      operationId: getById
      parameters:
        - name: assetFinanceAgreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Agreement found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - AssetFinanceAgreement
      summary: Update an existing asset finance agreement
      description: Update all fields of an existing asset finance agreement
      operationId: update
      parameters:
        - name: assetFinanceAgreementId
          in: path
          description: Unique identifier of the agreement to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        required: true
      responses:
        '200':
          description: Agreement updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        '400':
          description: Invalid input data
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - AssetFinanceAgreement
      summary: Delete an asset finance agreement
      description: Permanently delete an asset finance agreement and all related data (cascading delete)
      operationId: delete
      parameters:
        - name: assetFinanceAgreementId
          in: path
          description: Unique identifier of the agreement to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Agreement deleted successfully
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/end-options/{optionId}:
    get:
      tags:
        - EndOption
      summary: Get an end option by ID
      description: Retrieve a specific lease-end purchase option by its unique identifier
      operationId: getById_1
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          description: Unique identifier of the end option
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: End option found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
        '404':
          description: End option or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - EndOption
      summary: Update an existing end option
      description: Update all fields of an existing lease-end purchase option
      operationId: update_1
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          description: Unique identifier of the end option to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOptionDTO'
        required: true
      responses:
        '200':
          description: End option updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
        '400':
          description: Invalid input data
        '404':
          description: End option or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - EndOption
      summary: Delete an end option
      description: Permanently delete a lease-end purchase option
      operationId: delete_1
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          description: Unique identifier of the end option to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: End option deleted successfully
        '404':
          description: End option or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}:
    get:
      tags:
        - AssetFinanceAsset
      summary: Get an asset by ID
      description: Retrieve a specific asset by its unique identifier
      operationId: getById_2
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Asset found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - AssetFinanceAsset
      summary: Update an existing asset
      description: Update all fields of an existing asset
      operationId: update_2
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAssetDTO'
        required: true
      responses:
        '200':
          description: Asset updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - AssetFinanceAsset
      summary: Delete an asset
      description: Permanently delete an asset and all related data (cascading delete)
      operationId: delete_2
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Asset deleted successfully
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/usage-records/{recordId}:
    get:
      tags:
        - UsageRecord
      summary: Get a usage record by ID
      description: Retrieve a specific usage record by its unique identifier
      operationId: getById_3
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the usage record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Usage record found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
        '404':
          description: Usage record, asset, or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - UsageRecord
      summary: Update an existing usage record
      description: Update all fields of an existing usage record
      operationId: update_3
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the usage record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageRecordDTO'
        required: true
      responses:
        '200':
          description: Usage record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Usage record, asset, or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - UsageRecord
      summary: Delete a usage record
      description: Permanently delete a usage record
      operationId: delete_3
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the usage record to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Usage record deleted successfully
        '404':
          description: Usage record, asset, or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/service-events/{eventId}:
    get:
      tags:
        - ServiceEvent
      summary: Get a service event by ID
      description: Retrieve a specific service event by its unique identifier
      operationId: getById_4
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          description: Unique identifier of the service event
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Service event found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
        '404':
          description: Service event, asset, or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - ServiceEvent
      summary: Update an existing service event
      description: Update all fields of an existing service event
      operationId: update_4
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          description: Unique identifier of the service event to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEventDTO'
        required: true
      responses:
        '200':
          description: Service event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
        '400':
          description: Invalid input data
        '404':
          description: Service event, asset, or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - ServiceEvent
      summary: Delete a service event
      description: Permanently delete a service event
      operationId: delete_4
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          description: Unique identifier of the service event to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Service event deleted successfully
        '404':
          description: Service event, asset, or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/return-records/{recordId}:
    get:
      tags:
        - ReturnRecord
      summary: Get a return record by ID
      description: Retrieve a specific return record by its unique identifier
      operationId: getById_5
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the return record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Return record found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
        '404':
          description: Return record, asset, or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - ReturnRecord
      summary: Update an existing return record
      description: Update all fields of an existing return record
      operationId: update_5
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the return record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRecordDTO'
        required: true
      responses:
        '200':
          description: Return record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Return record, asset, or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - ReturnRecord
      summary: Delete a return record
      description: Permanently delete a return record
      operationId: delete_5
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          description: Unique identifier of the return record to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Return record deleted successfully
        '404':
          description: Return record, asset, or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/pickup-records/{pickupRecordId}:
    get:
      tags:
        - PickupRecord
      summary: Get a pickup record by ID
      description: Retrieve a specific pickup record by its unique identifier
      operationId: getById_6
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          description: Unique identifier of the pickup record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Pickup record found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
        '404':
          description: Pickup record, asset, or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - PickupRecord
      summary: Update an existing pickup record
      description: Update all fields of an existing pickup record
      operationId: update_6
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          description: Unique identifier of the pickup record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRecordDTO'
        required: true
      responses:
        '200':
          description: Pickup record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Pickup record, asset, or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - PickupRecord
      summary: Delete a pickup record
      description: Permanently delete a pickup record
      operationId: delete_6
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          description: Unique identifier of the pickup record to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Pickup record deleted successfully
        '404':
          description: Pickup record, asset, or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/delivery-records/{deliveryRecordId}:
    get:
      tags:
        - DeliveryRecord
      summary: Get a delivery record by ID
      description: Retrieve a specific delivery record by its unique identifier
      operationId: getById_7
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          description: Unique identifier of the delivery record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Delivery record found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
        '404':
          description: Delivery record, asset, or agreement not found
        '500':
          description: Internal server error
    put:
      tags:
        - DeliveryRecord
      summary: Update an existing delivery record
      description: Update all fields of an existing delivery record
      operationId: update_7
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          description: Unique identifier of the delivery record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRecordDTO'
        required: true
      responses:
        '200':
          description: Delivery record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Delivery record, asset, or agreement not found
        '500':
          description: Internal server error
    delete:
      tags:
        - DeliveryRecord
      summary: Delete a delivery record
      description: Permanently delete a delivery record
      operationId: delete_7
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          description: Unique identifier of the delivery record to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Delivery record deleted successfully
        '404':
          description: Delivery record, asset, or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements:
    get:
      tags:
        - AssetFinanceAgreement
      summary: List/Search asset finance agreements
      description: Retrieve a paginated list of asset finance agreements with optional filtering and sorting
      operationId: findAll
      parameters:
        - name: filterRequest
          in: query
          description: Filter criteria for searching agreements
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestAssetFinanceAgreementDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of agreements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '500':
          description: Internal server error
    post:
      tags:
        - AssetFinanceAgreement
      summary: Create a new asset finance agreement
      description: Create a new asset finance agreement (leasing or renting)
      operationId: create
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        required: true
      responses:
        '200':
          description: Agreement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        '400':
          description: Invalid input data
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/end-options:
    get:
      tags:
        - EndOption
      summary: List/Search end options for an agreement
      description: Retrieve a paginated list of lease-end purchase options for a specific agreement
      operationId: findAll_1
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching end options
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestEndOptionDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of end options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - EndOption
      summary: Create a new end option for an agreement
      description: Create a new lease-end purchase option for an agreement
      operationId: create_1
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOptionDTO'
        required: true
      responses:
        '200':
          description: End option created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
        '400':
          description: Invalid input data
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets:
    get:
      tags:
        - AssetFinanceAsset
      summary: List/Search assets for an agreement
      description: Retrieve a paginated list of assets associated with a specific agreement
      operationId: findAll_2
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching assets
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestAssetFinanceAssetDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of assets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - AssetFinanceAsset
      summary: Create a new asset for an agreement
      description: Add a new asset (vehicle, equipment, etc.) to an existing agreement
      operationId: create_2
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAssetDTO'
        required: true
      responses:
        '200':
          description: Asset created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
        '400':
          description: Invalid input data
        '404':
          description: Agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/usage-records:
    get:
      tags:
        - UsageRecord
      summary: List/Search usage records for an asset
      description: Retrieve a paginated list of usage records (mileage, hours, etc.) for a specific asset
      operationId: findAll_3
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching usage records
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestUsageRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of usage records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - UsageRecord
      summary: Create a new usage record for an asset
      description: Create a new usage record to track asset usage metrics (mileage, operating hours, etc.)
      operationId: create_3
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageRecordDTO'
        required: true
      responses:
        '200':
          description: Usage record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/service-events:
    get:
      tags:
        - ServiceEvent
      summary: List/Search service events for an asset
      description: Retrieve a paginated list of service/maintenance events for a specific asset
      operationId: findAll_4
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching service events
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestServiceEventDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of service events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - ServiceEvent
      summary: Create a new service event for an asset
      description: Create a new service/maintenance event record (maintenance, damage, repair, etc.)
      operationId: create_4
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEventDTO'
        required: true
      responses:
        '200':
          description: Service event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/return-records:
    get:
      tags:
        - ReturnRecord
      summary: List/Search return records for an asset
      description: Retrieve a paginated list of return/condition assessment records for a specific asset
      operationId: findAll_5
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching return records
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestReturnRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of return records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - ReturnRecord
      summary: Create a new return record for an asset
      description: Create a new return record to document asset condition assessment upon return
      operationId: create_5
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRecordDTO'
        required: true
      responses:
        '200':
          description: Return record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/pickup-records:
    get:
      tags:
        - PickupRecord
      summary: List/Search pickup records for an asset
      description: Retrieve a paginated list of pickup/collection records for a specific asset
      operationId: findAll_6
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching pickup records
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestPickupRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of pickup records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - PickupRecord
      summary: Create a new pickup record for an asset
      description: Create a new pickup/collection record to track asset pickup logistics
      operationId: create_6
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRecordDTO'
        required: true
      responses:
        '200':
          description: Pickup record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/delivery-records:
    get:
      tags:
        - DeliveryRecord
      summary: List/Search delivery records for an asset
      description: Retrieve a paginated list of delivery/shipment records for a specific asset
      operationId: findAll_7
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          description: Filter criteria for searching delivery records
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestDeliveryRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved list of delivery records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
    post:
      tags:
        - DeliveryRecord
      summary: Create a new delivery record for an asset
      description: Create a new delivery/shipment record to track asset delivery logistics
      operationId: create_7
      parameters:
        - name: agreementId
          in: path
          description: Unique identifier of the agreement
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          description: Unique identifier of the asset
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRecordDTO'
        required: true
      responses:
        '200':
          description: Delivery record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
        '400':
          description: Invalid input data
        '404':
          description: Asset or agreement not found
        '500':
          description: Internal server error
components:
  schemas:
    AssetFinanceAgreementDTO:
      required:
        - agreementStatus
        - endDate
        - financeType
        - paymentFrequency
        - startDate
        - totalValue
      type: object
      properties:
        assetFinanceAgreementId:
          type: string
          format: uuid
          readOnly: true
        loanServicingCaseId:
          type: string
          format: uuid
        financeType:
          type: string
          enum:
            - RENTING
            - LEASING
        agreementStatus:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - CLOSED
            - TERMINATED
            - DEFAULTED
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        totalValue:
          type: number
        paymentFrequency:
          maxLength: 50
          minLength: 0
          type: string
        servicesIncluded:
          type: boolean
        depositAmount:
          type: number
        earlyTerminationFee:
          type: number
        residualValue:
          type: number
        purchaseOptionAvailable:
          type: boolean
        purchaseOptionPrice:
          type: number
        remarks:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    EndOptionDTO:
      required:
        - assetFinanceAgreementId
        - optionExerciseDate
        - optionPaidAmount
      type: object
      properties:
        endOptionId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAgreementId:
          type: string
          format: uuid
        optionExerciseDate:
          type: string
          format: date
        optionPaidAmount:
          type: number
        isExercised:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AssetFinanceAssetDTO:
      required:
        - assetDescription
        - assetFinanceAgreementId
        - assetSerialNumber
        - assetTypeId
        - assetValue
      type: object
      properties:
        assetFinanceAssetId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAgreementId:
          type: string
          format: uuid
        assetTypeId:
          type: string
          format: uuid
        assetDescription:
          maxLength: 500
          minLength: 0
          type: string
        assetSerialNumber:
          maxLength: 100
          minLength: 0
          type: string
        assetValue:
          type: number
        isActive:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UsageRecordDTO:
      required:
        - assetFinanceAssetId
        - usageDate
      type: object
      properties:
        usageRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        usageDate:
          type: string
          format: date
        mileage:
          minimum: 0
          type: integer
          format: int32
        usageDetail:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ServiceEventDTO:
      required:
        - assetFinanceAssetId
        - eventDate
        - eventType
      type: object
      properties:
        serviceEventId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        eventDate:
          type: string
          format: date
        eventType:
          type: string
          enum:
            - MAINTENANCE
            - DAMAGE
            - RETURN
            - INSPECTION
            - MODIFICATION
        cost:
          type: number
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ReturnRecordDTO:
      required:
        - actualReturnDate
        - assetFinanceAssetId
        - conditionReport
      type: object
      properties:
        returnRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        actualReturnDate:
          type: string
          format: date
        conditionReport:
          maxLength: 2000
          minLength: 0
          type: string
        damageCost:
          type: number
        isFinalized:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PickupRecordDTO:
      required:
        - assetFinanceAssetId
        - pickupAddress
        - pickupStatus
      type: object
      properties:
        pickupRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        pickupStatus:
          type: string
          enum:
            - PENDING
            - SCHEDULED
            - IN_TRANSIT
            - PICKED_UP
            - FAILED
            - CANCELLED
        scheduledPickupDate:
          type: string
          format: date
        actualPickupDate:
          type: string
          format: date
        pickupAddress:
          maxLength: 500
          minLength: 0
          type: string
        pickupCity:
          maxLength: 100
          minLength: 0
          type: string
        pickupState:
          maxLength: 100
          minLength: 0
          type: string
        pickupPostalCode:
          maxLength: 20
          minLength: 0
          type: string
        pickupCountry:
          maxLength: 100
          minLength: 0
          type: string
        carrierName:
          maxLength: 200
          minLength: 0
          type: string
        trackingNumber:
          maxLength: 200
          minLength: 0
          type: string
        collectorName:
          maxLength: 200
          minLength: 0
          type: string
        collectorPhone:
          maxLength: 50
          minLength: 0
          pattern: ^[+]?[0-9\s\-()]*$
          type: string
        collectorEmail:
          maxLength: 200
          minLength: 0
          type: string
        signatureReceived:
          type: boolean
        pickupConditionNotes:
          maxLength: 2000
          minLength: 0
          type: string
        pickupPhotoUrls:
          type: array
          items:
            maxLength: 500
            minLength: 0
            type: string
        failedPickupReason:
          maxLength: 1000
          minLength: 0
          type: string
        pickupAttempts:
          minimum: 0
          type: integer
          format: int32
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DeliveryRecordDTO:
      required:
        - assetFinanceAssetId
        - deliveryAddress
        - deliveryStatus
      type: object
      properties:
        deliveryRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        deliveryStatus:
          type: string
          enum:
            - PENDING
            - SCHEDULED
            - IN_TRANSIT
            - DELIVERED
            - FAILED
            - CANCELLED
        scheduledDeliveryDate:
          type: string
          format: date
        actualDeliveryDate:
          type: string
          format: date
        deliveryAddress:
          maxLength: 500
          minLength: 0
          type: string
        deliveryCity:
          maxLength: 100
          minLength: 0
          type: string
        deliveryState:
          maxLength: 100
          minLength: 0
          type: string
        deliveryPostalCode:
          maxLength: 20
          minLength: 0
          type: string
        deliveryCountry:
          maxLength: 100
          minLength: 0
          type: string
        carrierName:
          maxLength: 200
          minLength: 0
          type: string
        trackingNumber:
          maxLength: 200
          minLength: 0
          type: string
        recipientName:
          maxLength: 200
          minLength: 0
          type: string
        recipientPhone:
          maxLength: 50
          minLength: 0
          pattern: ^[+]?[0-9\s\-()]*$
          type: string
        recipientEmail:
          maxLength: 200
          minLength: 0
          type: string
        signatureReceived:
          type: boolean
        deliveryConditionNotes:
          maxLength: 2000
          minLength: 0
          type: string
        deliveryPhotoUrls:
          type: array
          items:
            maxLength: 500
            minLength: 0
            type: string
        failedDeliveryReason:
          maxLength: 1000
          minLength: 0
          type: string
        deliveryAttempts:
          minimum: 0
          type: integer
          format: int32
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    FilterOptions:
      type: object
      properties:
        caseInsensitiveStrings:
          type: boolean
        includeInheritedFields:
          type: boolean
      description: Filter options for customizing filter behavior
    FilterRequestAssetFinanceAgreementDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationRequest:
      type: object
      properties:
        pageNumber:
          type: integer
          description: The zero-based page number to retrieve.
          format: int32
          example: 0
          default: 0
        pageSize:
          type: integer
          description: The number of items per page.
          format: int32
          example: 10
          default: 10
        sortBy:
          type: string
          description: The field to sort the results by.
          example: name
        sortDirection:
          type: string
          description: The direction of sorting, either ASC or DESC.
          example: DESC
          default: DESC
      description: Represents a pagination request for retrieving paginated results, including page number, size, sort field, and direction.
    RangeFilter:
      type: object
      properties:
        ranges:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RangeObject'
          description: Map of field names to their range criteria
      description: Represents range filters for numeric fields
    RangeObject:
      type: object
      properties:
        from:
          type: object
          description: Start value of the range
        to:
          type: object
          description: End value of the range
      description: Represents a range with from and to values
    PaginationResponse:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            type: object
            description: The list of items for the current page.
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestEndOptionDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/EndOptionDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestAssetFinanceAssetDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/AssetFinanceAssetDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestUsageRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/UsageRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestServiceEventDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ServiceEventDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestReturnRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ReturnRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestPickupRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/PickupRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    FilterRequestDeliveryRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/DeliveryRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination