openapi: 3.0.1
info:
  title: core-lending-asset-finance
  description: Asset Finance Management System (Renting & Leasing)
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/asset-finance
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: DeliveryRecord
    description: Operations for Asset Delivery/Shipment Records
  - name: AssetFinanceAgreement
    description: Operations for Asset Finance Agreements (Leasing & Renting)
  - name: ServiceEvent
    description: Operations for Asset Service Events (Maintenance, Damage, etc.)
  - name: EndOption
    description: Operations for Lease-End Purchase Options
  - name: ReturnRecord
    description: Operations for Asset Return Records
  - name: UsageRecord
    description: Operations for Asset Usage Records (Mileage, Hours, etc.)
  - name: AssetFinanceAsset
    description: Operations for Asset Finance Assets
  - name: PickupRecord
    description: Operations for Asset Pickup/Collection Records
paths:
  /api/v1/asset-finance-agreements/{assetFinanceAgreementId}:
    get:
      tags:
        - AssetFinanceAgreement
      summary: Get an asset finance agreement by ID
      operationId: getById
      parameters:
        - name: assetFinanceAgreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
    put:
      tags:
        - AssetFinanceAgreement
      summary: Update an existing asset finance agreement
      operationId: update
      parameters:
        - name: assetFinanceAgreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
    delete:
      tags:
        - AssetFinanceAgreement
      summary: Delete an asset finance agreement
      operationId: delete
      parameters:
        - name: assetFinanceAgreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/end-options/{optionId}:
    get:
      tags:
        - EndOption
      summary: Get an end option by ID
      operationId: getById_1
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
    put:
      tags:
        - EndOption
      summary: Update an existing end option
      operationId: update_1
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOptionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
    delete:
      tags:
        - EndOption
      summary: Delete an end option
      operationId: delete_1
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}:
    get:
      tags:
        - AssetFinanceAsset
      summary: Get an asset by ID
      operationId: getById_2
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
    put:
      tags:
        - AssetFinanceAsset
      summary: Update an existing asset
      operationId: update_2
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAssetDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
    delete:
      tags:
        - AssetFinanceAsset
      summary: Delete an asset
      operationId: delete_2
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/usage-records/{recordId}:
    get:
      tags:
        - UsageRecord
      summary: Get a usage record by ID
      operationId: getById_3
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
    put:
      tags:
        - UsageRecord
      summary: Update an existing usage record
      operationId: update_3
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
    delete:
      tags:
        - UsageRecord
      summary: Delete a usage record
      operationId: delete_3
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/service-events/{eventId}:
    get:
      tags:
        - ServiceEvent
      summary: Get a service event by ID
      operationId: getById_4
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
    put:
      tags:
        - ServiceEvent
      summary: Update an existing service event
      operationId: update_4
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEventDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
    delete:
      tags:
        - ServiceEvent
      summary: Delete a service event
      operationId: delete_4
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/return-records/{recordId}:
    get:
      tags:
        - ReturnRecord
      summary: Get a return record by ID
      operationId: getById_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
    put:
      tags:
        - ReturnRecord
      summary: Update an existing return record
      operationId: update_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
    delete:
      tags:
        - ReturnRecord
      summary: Delete a return record
      operationId: delete_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/pickup-records/{pickupRecordId}:
    get:
      tags:
        - PickupRecord
      summary: Get a pickup record by ID
      operationId: getById_6
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
    put:
      tags:
        - PickupRecord
      summary: Update an existing pickup record
      operationId: update_6
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
    delete:
      tags:
        - PickupRecord
      summary: Delete a pickup record
      operationId: delete_6
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pickupRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/delivery-records/{deliveryRecordId}:
    get:
      tags:
        - DeliveryRecord
      summary: Get a delivery record by ID
      operationId: getById_7
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
    put:
      tags:
        - DeliveryRecord
      summary: Update an existing delivery record
      operationId: update_7
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
    delete:
      tags:
        - DeliveryRecord
      summary: Delete a delivery record
      operationId: delete_7
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: deliveryRecordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/asset-finance-agreements:
    get:
      tags:
        - AssetFinanceAgreement
      summary: List/Search asset finance agreements
      operationId: findAll
      parameters:
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestAssetFinanceAgreementDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseAssetFinanceAgreementDTO'
    post:
      tags:
        - AssetFinanceAgreement
      summary: Create a new asset finance agreement
      operationId: create
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAgreementDTO'
  /api/v1/asset-finance-agreements/{agreementId}/end-options:
    get:
      tags:
        - EndOption
      summary: List/Search end options for an agreement
      operationId: findAll_1
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestEndOptionDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseEndOptionDTO'
    post:
      tags:
        - EndOption
      summary: Create a new end option for an agreement
      operationId: create_1
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOptionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EndOptionDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets:
    get:
      tags:
        - AssetFinanceAsset
      summary: List/Search assets for an agreement
      operationId: findAll_2
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestAssetFinanceAssetDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseAssetFinanceAssetDTO'
    post:
      tags:
        - AssetFinanceAsset
      summary: Create a new asset for an agreement
      operationId: create_2
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFinanceAssetDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetFinanceAssetDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/usage-records:
    get:
      tags:
        - UsageRecord
      summary: List/Search usage records for an asset
      operationId: findAll_3
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestUsageRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseUsageRecordDTO'
    post:
      tags:
        - UsageRecord
      summary: Create a new usage record for an asset
      operationId: create_3
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsageRecordDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/service-events:
    get:
      tags:
        - ServiceEvent
      summary: List/Search service events for an asset
      operationId: findAll_4
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestServiceEventDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseServiceEventDTO'
    post:
      tags:
        - ServiceEvent
      summary: Create a new service event for an asset
      operationId: create_4
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEventDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceEventDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/return-records:
    get:
      tags:
        - ReturnRecord
      summary: List/Search return records for an asset
      operationId: findAll_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestReturnRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseReturnRecordDTO'
    post:
      tags:
        - ReturnRecord
      summary: Create a new return record for an asset
      operationId: create_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReturnRecordDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/pickup-records:
    get:
      tags:
        - PickupRecord
      summary: List/Search pickup records for an asset
      operationId: findAll_6
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestPickupRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponsePickupRecordDTO'
    post:
      tags:
        - PickupRecord
      summary: Create a new pickup record for an asset
      operationId: create_6
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickupRecordDTO'
  /api/v1/asset-finance-agreements/{agreementId}/assets/{assetId}/delivery-records:
    get:
      tags:
        - DeliveryRecord
      summary: List/Search delivery records for an asset
      operationId: findAll_7
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: filterRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/FilterRequestDeliveryRecordDTO'
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseDeliveryRecordDTO'
    post:
      tags:
        - DeliveryRecord
      summary: Create a new delivery record for an asset
      operationId: create_7
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliveryRecordDTO'
components:
  schemas:
    AssetFinanceAgreementDTO:
      required:
        - agreementStatus
        - contractId
        - customerId
        - endDate
        - financeType
        - paymentFrequency
        - startDate
        - totalValue
      type: object
      properties:
        assetFinanceAgreementId:
          type: string
          format: uuid
          readOnly: true
        contractId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        loanServicingCaseId:
          type: string
          format: uuid
        financeType:
          type: string
          enum:
            - RENTING
            - LEASING
        agreementStatus:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - CLOSED
            - TERMINATED
            - DEFAULTED
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        totalValue:
          type: number
        paymentFrequency:
          maxLength: 50
          minLength: 0
          type: string
        servicesIncluded:
          type: boolean
        depositAmount:
          type: number
        earlyTerminationFee:
          type: number
        residualValue:
          type: number
        purchaseOptionAvailable:
          type: boolean
        purchaseOptionPrice:
          type: number
        remarks:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    EndOptionDTO:
      required:
        - assetFinanceAgreementId
        - optionExerciseDate
        - optionPaidAmount
      type: object
      properties:
        endOptionId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAgreementId:
          type: string
          format: uuid
        optionExerciseDate:
          type: string
          format: date
        optionPaidAmount:
          type: number
        isExercised:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AssetFinanceAssetDTO:
      required:
        - assetDescription
        - assetFinanceAgreementId
        - assetSerialNumber
        - assetTypeId
        - assetValue
      type: object
      properties:
        assetFinanceAssetId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAgreementId:
          type: string
          format: uuid
        assetTypeId:
          type: string
          format: uuid
        assetDescription:
          maxLength: 500
          minLength: 0
          type: string
        assetSerialNumber:
          maxLength: 100
          minLength: 0
          type: string
        assetValue:
          type: number
        isActive:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UsageRecordDTO:
      required:
        - assetFinanceAssetId
        - usageDate
      type: object
      properties:
        usageRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        usageDate:
          type: string
          format: date
        mileage:
          minimum: 0
          type: integer
          format: int32
        usageDetail:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ServiceEventDTO:
      required:
        - assetFinanceAssetId
        - eventDate
        - eventType
      type: object
      properties:
        serviceEventId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        eventDate:
          type: string
          format: date
        eventType:
          type: string
          enum:
            - MAINTENANCE
            - DAMAGE
            - RETURN
            - INSPECTION
            - MODIFICATION
        cost:
          type: number
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ReturnRecordDTO:
      required:
        - actualReturnDate
        - assetFinanceAssetId
        - conditionReport
      type: object
      properties:
        returnRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        actualReturnDate:
          type: string
          format: date
        conditionReport:
          maxLength: 2000
          minLength: 0
          type: string
        damageCost:
          type: number
        isFinalized:
          type: boolean
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PickupRecordDTO:
      required:
        - assetFinanceAssetId
        - pickupAddress
        - pickupStatus
      type: object
      properties:
        pickupRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        pickupStatus:
          type: string
          enum:
            - PENDING
            - SCHEDULED
            - IN_TRANSIT
            - PICKED_UP
            - FAILED
            - CANCELLED
        scheduledPickupDate:
          type: string
          format: date
        actualPickupDate:
          type: string
          format: date
        pickupAddress:
          maxLength: 500
          minLength: 0
          type: string
        pickupCity:
          maxLength: 100
          minLength: 0
          type: string
        pickupState:
          maxLength: 100
          minLength: 0
          type: string
        pickupPostalCode:
          maxLength: 20
          minLength: 0
          type: string
        pickupCountry:
          maxLength: 100
          minLength: 0
          type: string
        carrierName:
          maxLength: 200
          minLength: 0
          type: string
        trackingNumber:
          maxLength: 200
          minLength: 0
          type: string
        collectorName:
          maxLength: 200
          minLength: 0
          type: string
        collectorPhone:
          maxLength: 50
          minLength: 0
          pattern: ^[+]?[0-9\s\-()]*$
          type: string
        collectorEmail:
          maxLength: 200
          minLength: 0
          type: string
        signatureReceived:
          type: boolean
        pickupConditionNotes:
          maxLength: 2000
          minLength: 0
          type: string
        pickupPhotoUrls:
          type: array
          items:
            maxLength: 500
            minLength: 0
            type: string
        failedPickupReason:
          maxLength: 1000
          minLength: 0
          type: string
        pickupAttempts:
          minimum: 0
          type: integer
          format: int32
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DeliveryRecordDTO:
      required:
        - assetFinanceAssetId
        - deliveryAddress
        - deliveryStatus
      type: object
      properties:
        deliveryRecordId:
          type: string
          format: uuid
          readOnly: true
        assetFinanceAssetId:
          type: string
          format: uuid
        deliveryStatus:
          type: string
          enum:
            - PENDING
            - SCHEDULED
            - IN_TRANSIT
            - DELIVERED
            - FAILED
            - CANCELLED
        scheduledDeliveryDate:
          type: string
          format: date
        actualDeliveryDate:
          type: string
          format: date
        deliveryAddress:
          maxLength: 500
          minLength: 0
          type: string
        deliveryCity:
          maxLength: 100
          minLength: 0
          type: string
        deliveryState:
          maxLength: 100
          minLength: 0
          type: string
        deliveryPostalCode:
          maxLength: 20
          minLength: 0
          type: string
        deliveryCountry:
          maxLength: 100
          minLength: 0
          type: string
        carrierName:
          maxLength: 200
          minLength: 0
          type: string
        trackingNumber:
          maxLength: 200
          minLength: 0
          type: string
        recipientName:
          maxLength: 200
          minLength: 0
          type: string
        recipientPhone:
          maxLength: 50
          minLength: 0
          pattern: ^[+]?[0-9\s\-()]*$
          type: string
        recipientEmail:
          maxLength: 200
          minLength: 0
          type: string
        signatureReceived:
          type: boolean
        deliveryConditionNotes:
          maxLength: 2000
          minLength: 0
          type: string
        deliveryPhotoUrls:
          type: array
          items:
            maxLength: 500
            minLength: 0
            type: string
        failedDeliveryReason:
          maxLength: 1000
          minLength: 0
          type: string
        deliveryAttempts:
          minimum: 0
          type: integer
          format: int32
        note:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    FilterOptions:
      type: object
      properties:
        caseInsensitiveStrings:
          type: boolean
        includeInheritedFields:
          type: boolean
      description: Filter options for customizing filter behavior
    FilterRequestAssetFinanceAgreementDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationRequest:
      type: object
      properties:
        pageNumber:
          type: integer
          description: The zero-based page number to retrieve.
          format: int32
          example: 0
          default: 0
        pageSize:
          type: integer
          description: The number of items per page.
          format: int32
          example: 10
          default: 10
        sortBy:
          type: string
          description: The field to sort the results by.
          example: name
        sortDirection:
          type: string
          description: The direction of sorting, either ASC or DESC.
          example: DESC
          default: DESC
      description: Represents a pagination request for retrieving paginated results, including page number, size, sort field, and direction.
    RangeFilter:
      type: object
      properties:
        ranges:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RangeObject'
          description: Map of field names to their range criteria
      description: Represents range filters for numeric fields
    RangeObject:
      type: object
      properties:
        from:
          type: object
          description: Start value of the range
        to:
          type: object
          description: End value of the range
      description: Represents a range with from and to values
    PaginationResponseAssetFinanceAgreementDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/AssetFinanceAgreementDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestEndOptionDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/EndOptionDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseEndOptionDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/EndOptionDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestAssetFinanceAssetDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/AssetFinanceAssetDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseAssetFinanceAssetDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/AssetFinanceAssetDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestUsageRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/UsageRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseUsageRecordDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/UsageRecordDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestServiceEventDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ServiceEventDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseServiceEventDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/ServiceEventDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestReturnRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ReturnRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseReturnRecordDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/ReturnRecordDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestPickupRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/PickupRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponsePickupRecordDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/PickupRecordDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestDeliveryRecordDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/DeliveryRecordDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Generic filter request that includes both filter criteria and pagination
    PaginationResponseDeliveryRecordDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/DeliveryRecordDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.